<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>PatientLogin</servlet-name>
        <servlet-class>AuthenticationController.PatientLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>AuthenticationController.StaffLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePatientController</servlet-name>
        <servlet-class>AuthenticationController.PatientRegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/staff0816login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePatientController</servlet-name>
        <url-pattern>/CreatePatientController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
